@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Preahvihear";
  src: url('../src/assets/font/Preahvihear-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Preahvihear", sans-serif;
}
